#main {

}


#vBox1{
    -fx-background-color: rgba(204, 204, 204, 0.80);
}
#vBox2{
    -fx-background-color: rgba(204, 204, 204, 0.50);
}
#vBox3{
    -fx-background-color: rgba(204, 204, 204, 0.31);
}
.Label#lbl16{

    -fx-text-fill: #ffcccc;

}