#main
{
    -fx-background-image: url("../img/MainMenu.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
.buttons
{
    -fx-background-color: rgb(188, 190, 193);
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-alignment: center;
}
.buttons:hover
{
    -fx-background-color: rgb(100, 100, 100);
    -fx-text-fill: #efefef;
}
.buttons:pressed
{
    -fx-background-color: rgb(224, 224, 224);
    -fx-text-fill: #000000;
}
